.contentButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 2rem 0;
}

.contentButton button {
  margin: 0 1rem 0 0;
  border: 0;
  width: 5rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 5px;
}
