const {{pascalCase name}} = () => {
return (
    <div className="section-container-components">
      <div className="components-items">{{pascalCase name}}</div>
    </div>
);
};

export default {{pascalCase name}}